<!DOCTYPE html>

<html>
    <head>
    </head>
    <body>
        <p>
            <strong>You've got mail!</strong>
            <%= "From: #{@name} - #{@email}." %>
            </p>
        <p>
            <%= @body %>
        </p>
    </body>
</html>